<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Giftechies">
    <meta name="author" content="Giftechies">
    <title>PapaStreet.com</title>
    @Styles.Render("~/Content/theme")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUnobtrusiveAjax")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)

</body>
</html>
